<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prewired Registration - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/application.css") }}">
        <script src="{{ url_for("static", filename="js/jquery.min.js") }}" charset="utf-8"></script>
        <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}" charset="utf-8"></script>
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
