{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <img src="{{ url_for("static", filename="img/logo.png") }}" alt="Prewired Logo" class="col-md-12" />
            <h1 class="brand center-text">Prewired.</h1>
            <p class="center-text">Registration System</p>
        </div>
    </div>
    <div class="row">
        <a href="/sign-up/" class="btn btn-primary col-md-12">Sign up for the next Prewired Session</a>
        <a href="/run-session/" class="btn btn-default col-md-offset-4 col-md-2 margin-top-md">Start on-night registration</a>
        <a href="/admin/" class="btn btn-default col-md-2 margin-top-md">Administration Login</a>
    </div>
{% endblock %}
